Q1. What is a database? Differentiate between SQL and NoSQL databases

Ans. A database is a collection of structured data that can be easily accessed, managed and updated.It is used to stored and retrive data in a structured format.
SQL database is a relational database which means it stores data in a tabular form. Ex. of SQL database MYSQL,ORACLE,PostgreSql.
NOSQL database is non-relational and it stores data in a flexible,document oriented format like videos,emails,pictures etc.Ex. of NOSQL data base is mongodb,cassandra etc.

Q2. What is DDL? Explain why CREATE, DROP, ALTER, and TRUNCATE are used with an example.

Ans. DDL or Data Defination Language is a subset of SQL which is used to create, modify and delete the database objects like table, constraints etc.

CREATE-- It is used to create the new database object.For example>> CREATE TABLE <table_name>;
DROP--   It is used to delete the database object.For EX.>> DROP TABLE<TABLE_NAME>;
ALTER--  It is used to modify the existing datbase object.For EX>> ALTER TABLE <TABLE_NAME> ADD <COLUMN NAME>;
TRUNCATE-- It is used to delete the data of a table structure but not table itself. EX>> TRUNCATE TABLE <TABLE_NAME>;

Q3. What is DML? Explain INSERT, UPDATE, and DELETE with an example.

ANS. DML or Data Manupulation Language is used to manupulate data in database.

INSERT--It is used to insert new  record in a table. For EX. INSERT INTO <tablename><column names> Values()
UPDATE--It is used to modify the existing record in a table. EX>> UPDATE <TABLENAME><COLUMN=VALUE>WHERE<CONDITION>;
delete--It is used to DELETE the existing record in a table. EX>> DELETE from <table name> where<condition>;

Q4. What is DQL? Explain SELECT with an example.

ANS. DQL or Data Query Language is used to retrive data from database.

SELECT-- It is used to retrive data from table or column or from table with condition.
EX. SELECT * FROM <TABLENAME> OR SELECT <COLUMNNAME> FROM <TABLE NAME> OR SELECT FROM <TABLENAME> WHERE <CONDITION>

Q5. Explain Primary Key and Foreign Key.

Ans. PRIMARY KEY-- It is a field or combination of field that identifies uniquely each row in a table.
FOREIGN KEY-- It ia s field of a table that refers to the primary key of another table. It makes a link between two table and maintains refrential integrity.The foreign key is used to ensure that data in the child table is consistent with data in the parent table.

Q6. Write a python code to connect MySQL to python. Explain the cursor() and execute() method.

In [ ]:
pip install mysql-connector-python # To install the mysql-connector-python linbrary

import mysql.connector # To import the mysql.connector module

mydb=mysql.connector.connect(  # TO establish the connection between mysql database and python
hostname='host', # we need to provide the credentials
user='abc',
password='password'
)
cursor=mydb.cursor() # used to create cursor object
mycursor.execute('select * from test2') #used to execute the query

CURSOR()--The "cursor()" method is used to create a cursor object
EXECUTE()--The "execute()" method is used to execute SQL queries on the connected database

Q7. Give the order of execution of SQL clauses in an SQL query.

Ans.
The order of execution of SQL clauses in an SQL query is as follows:

FROM: This clause specifies the table(s) from which the data is being selected.

WHERE: This clause filters the data by specifying the conditions that the data must meet.

GROUP BY: This clause groups the data based on one or more columns.

HAVING: This clause filters the grouped data by specifying the conditions that the groups must meet.

SELECT: This clause selects the columns that we want to retrieve from the table(s).

ORDER BY: This clause sorts the data based on one or more columns.

LIMIT: This clause limits the number of rows that are returned.