Q1. What is MongoDB? Explain non-relational databases in short. In which scenarios it is preferred to use 
MongoDB over SQL databases?

Ans.MongoDB is an open sorce document oriented database which stores  data in a flexible and semi structured format known as BSON(Binary JASON).

Non-relational database is also known as NOSQL dabase and it doesn't stores data in tabular form like SQL or relational database where as it stores data like key-vale,document, graph etc.

It is preferred to use MongoDB over SQL databases where data is unstructured and needs to be stored and retrive in its native format.

Q2. State and Explain the features of MongoDB.

Ans.1. Document oriented: MongoDB is a document-oriented database, which means that it stores data in a flexible, semi-              structured format known as BSON .
    2. Scalable: MongoDB is designed to scale horizontally across multiple servers, allowing for easy scaling of large, high-        traffic applications.
    3. Indexing: MongoDB supports indexing of any field, including nested documents and arrays, to facilitate fast queries.
    4. JSON-based Query Language: MongoDB uses a JSON-based query language that is expressive and easy to use.

In [4]:
# 3. Write a code to connect MongoDB to Python. Also, create a database and a collection in MongoDB.

#Ans. The code is given below with explanation:

#pip install pymongo # To install pymongo module

import pymongo # To import pymongo
# To connect the mongodb server
client = pymongo.MongoClient("mongodb+srv://Rajnish:mongodb1996@cluster0.de910yr.mongodb.net/?retryWrites=true&w=majority")

# To create a new database
db= client['Rajnish']  
# To create collection
my_coll=db['Customers']

Q4. Using the database and the collection created in question number 3, write a code to insert one record, 
and insert many records. Use the find() and find_one() methods to print the inserted record.

In [9]:
# To insert one record
mydict = { "name": "John", "address": "Highway 37" }

my_coll.insert_one(mydict)

# To insert many record

data4=[{'mail_id':'sudh@gmail.com',
      'phone_number': 354595665,
      'add': 'banglore'},{'name':'sudh','class':'data science masters','time':'flexi'}]

my_coll.insert_many(data4)

In [13]:
my_coll.find_one()

{'_id': ObjectId('63f0990a32f5784881bece18'),
 'name': 'John',
 'address': 'Highway 37'}

In [16]:
for i in my_coll.find():
    print(i)

{'_id': ObjectId('63f0990a32f5784881bece18'), 'name': 'John', 'address': 'Highway 37'}
{'_id': ObjectId('63f099af32f5784881bece1b'), 'name': 'John', 'address': 'Highway 37'}
{'_id': ObjectId('63f099af32f5784881bece1c'), 'mail_id': 'sudh@gmail.com', 'phone_number': 354595665, 'add': 'banglore'}
{'_id': ObjectId('63f099af32f5784881bece1d'), 'name': 'sudh', 'class': 'data science masters', 'time': 'flexi'}

Q5. Explain how you can use the find() method to query the MongoDB database. Write a simple code to 
demonstrate this.

Ans. After following  the steps as question 3 and 4 we can perform query through find as given in the below code.

In [19]:
#suppose we want data where name =John then
for i in my_coll.find({'name':'John'}):
    print(i)

{'_id': ObjectId('63f0990a32f5784881bece18'), 'name': 'John', 'address': 'Highway 37'}
{'_id': ObjectId('63f099af32f5784881bece1b'), 'name': 'John', 'address': 'Highway 37'}

Q6. Explain the sort() method. Give an example to demonstrate sorting in MongoDB.

Ans. Sort() method is used to sort the results in ascending or descinding order based upon on one or more fields.

In [21]:
data5=[{ "_id": 1, "name": "John", "age": 30 },
{ "_id": 2, "name": "Mary", "age": 35 },
{ "_id": 3, "name": "Steve", "age": 27 },
{ "_id": 4, "name": "Jane", "age": 28 }]

my_coll.insert_many(data5)

In [24]:
for i in my_coll.find():
    print(i)

{'_id': ObjectId('63f0990a32f5784881bece18'), 'name': 'John', 'address': 'Highway 37'}
{'_id': ObjectId('63f099af32f5784881bece1b'), 'name': 'John', 'address': 'Highway 37'}
{'_id': ObjectId('63f099af32f5784881bece1c'), 'mail_id': 'sudh@gmail.com', 'phone_number': 354595665, 'add': 'banglore'}
{'_id': ObjectId('63f099af32f5784881bece1d'), 'name': 'sudh', 'class': 'data science masters', 'time': 'flexi'}
{'_id': 1, 'name': 'John', 'age': 30}
{'_id': 2, 'name': 'Mary', 'age': 35}
{'_id': 3, 'name': 'Steve', 'age': 27}
{'_id': 4, 'name': 'Jane', 'age': 28}

In [26]:
### TO perform sorting

query={'age':{'$gt':27}}
for i in my_coll.find(query).sort("name"):
    print(i)

{'_id': 4, 'name': 'Jane', 'age': 28}
{'_id': 1, 'name': 'John', 'age': 30}
{'_id': 2, 'name': 'Mary', 'age': 35}

Q7. Explain why delete_one(), delete_many(), and drop() is used.

Ans. 1. delete_one(filter): Removes a single document from a collection that matches the specified filter. If multiple               documents match the filter, only the first document encountered will be deleted.

     2.  delete_many(filter): Removes all documents from a collection that match the specified filter.

     3.  drop(): Deletes the entire collection from the database.