ASSIGNMENT-02

In [5]:
# QUESTION 01

percentage= int(input("Enter your percentage : "))
if percentage>90:
    print('GRADE A')
elif percentage>80 and percentage <=90:
    print('GRADE B')
elif percentage >=60 and percentage<=80:
    print('GRADE C')
elif percentage <60:
    print('GRADE D')

Enter your percentage :  95

GRADE A

In [7]:
# QUESTION 02

Bike_cost= int(input('Enter the Bike cost : '))
if Bike_cost>100000:
    print('You have to pay 15% tax')
elif Bike_cost>50000 and Bike_cost<=100000: 
     print('You have to pay 10% tax')
elif Bike_cost<=50000:
     print('You have to pay 5% tax')

Enter the Bike cost :  145845

You have to pay 15% tax

In [21]:
# QUESTION 03

City_table= ['Delhi','Agra','Jaipur']
print('City_table =',City_table)
City= input('Select city from the above city_table list to know about its Monument : ')
if City=="Delhi":
    print("The Monument of Delhi is RED FORT ")
elif City=="Agra":    
    print("The Monument of Agra is TAJ MAHAL ")
elif City=="Jaipur":    
    print("The Monument of Jaipur is JAL MAHAL ")
else:
    print('City is not in the City_table list')

City_table = ['Delhi', 'Agra', 'Jaipur']

Select city from the above city_table list to know about its Monument :  Delhi

The Monument of Delhi is RED FORT

In [10]:
# Question 04. Check how many times a given no can be divided by 3 before it is less than 10.
n=int(input('Enter the number'))
c=0
while n>=10:
    n=n/3
    c+=1
print(c)

Enter the number 180

3

5. Why and when to use while loop in python give a detailed discription with example.

Ans. we use while loop to execute a set of statements as long as the condition is True.

EX: Print i as long as i is less than 6:
   
   i = 1
while i < 6:
  print(i)
  i += 1
   
 Note: we need to increment i to stop the loop as per defined condition otherwise loop will continue forever.
 
 we aalso use "ELSE" statement with while loop and it will execute when the while loop condition will become False and executed fully (else not executed if break statement executed once).

6. Use nested while loop to print three different pattern

In [12]:
i=1
while i<=5:
    j=1
    while j<=i:
        print("*")
        j+=1
    i+=1

*
*
*
*
*
*
*
*
*
*
*
*
*
*
*

In [13]:
i=1
while i<=5:
    j=1
    while j<=i:
        print("*",end =" ")
        j+=1
    i+=1

* * * * * * * * * * * * * * *

In [14]:
i=1
while i<=5:
    j=1
    while j<=i:
        print("*",end =" ")
        j+=1
    print()    
    i+=1

*
* *
* * *
* * * *
* * * * *

8. Reverse a while loop to display numbers from 10 to 1.

In [20]:
i=10
l=[]
while i>=1:
    l.append(i)
    i-=1
print(l)

[10, 9, 8, 7, 6, 5, 4, 3, 2, 1]